.result-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

.result-section article {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  width: 100%;

}

.result-section article .Chicken-title,
.result-section article .beer-title 
{
  position: relative;
  left: 24px;
  font-size: 100px;
  font-weight: bold;
  color: rgba(0, 0, 0, 10%);
  align-self: start;
}
.result-section article.Chicken-container:hover .Chicken-title span,
.result-section article.ber-container:hover .beer-title span{
  color: rgba(0, 0, 0, 30%);
}




.result-section .beer-output {
  font-size: 64px;
  font-weight: bold;
}


.result-section .image-box {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 300px;
}
.result-section .image-box img {
}
body {
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 15px;
  background-color: #5264ae;
}

nav .title {
      padding: 15px;
}

footer .fibona-chicken {
  font-weight: 300px;
}

footer .btn {
  background-color: #03a9f4;
}

