.result-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

.result-section article {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  width: 100%;

}

.result-section article .Chicken-title,
.result-section article .beer-title 
{
  position: relative;
  left: 24px;
  font-size: 100px;
  font-weight: bold;
  color: rgba(0, 0, 0, 10%);
  align-self: start;
}
.result-section article.Chicken-container:hover .Chicken-title span,
.result-section article.ber-container:hover .beer-title span{
  color: rgba(0, 0, 0, 30%);
}




.result-section .beer-output {
  font-size: 64px;
  font-weight: bold;
}


.result-section .image-box {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 300px;
}
.result-section .image-box img {
}
body {
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 15px;
  background-color: #5264ae;
}

nav .title {
      padding: 15px;
}

main .people article {
  padding: 20px;
}

main .people article .people-title {
  font-size: 18px;
  margin: 10px;
}

main .people article img {
  max-width: 500px;
  margin-top: 20px;
}

main .people article .people-number {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

main .people article .people-number input {
  box-sizing: border-box;
  margin: 10px;
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 32px;
  border-bottom: 3px solid #5264ae;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

footer .fibona-chicken {
  font-weight: 300px;
}

footer .btn {
  background-color: #03a9f4;
}

