body {
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 15px;
  background-color: #5264ae;
}

nav .title {
      padding: 15px;
}

footer .fibona-chicken {
  font-weight: 300px;
}

footer .btn {
  background-color: #03a9f4;
}

